{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_freecourses/main

    Render the free courses block.
}}

<div id="block-freecourses-{{uniqid}}" class="block_freecourses" data-region="freecourses">
    {{#hascourses}}
        {{< core_course/coursecards }}
            {{$classes}}freecourses-carddeck{{/classes}}
            {{$coursename}}
                <span class="multiline" title="{{fullname}}">
                    <span class="visually-hidden">{{{fullname}}}</span>
                    <span aria-hidden="true">
                        {{#shortentext}}55, {{{fullname}}}{{/shortentext}}
                    </span>
                </span>
            {{/coursename}}
            {{$coursecategory}}
                {{#showcoursecategory}}
                    <span class="visually-hidden">
                        {{#str}}aria:coursecategory, core_course{{/str}}
                    </span>
                    <span class="badge rounded-pill bg-light text-dark border">{{{coursecategory}}}</span>
                {{/showcoursecategory}}
            {{/coursecategory}}
            {{$progress}}
                <div class="card-footer border-0 bg-white w-100 pt-0">
                    <a href="{{enrolurl}}" class="btn btn-primary w-100">{{#str}}enrolcourse, block_freecourses{{/str}}</a>
                </div>
            {{/progress}}
        {{/ core_course/coursecards }}
    {{/hascourses}}

    {{^hascourses}}
        <div class="alert alert-info mb-0" role="status">
            {{#str}}nofreecourses, block_freecourses{{/str}}
        </div>
    {{/hascourses}}
</div>
